body {
    font-family: 'Times New Roman', Times, serif;
    color:#000000;
    background-image: url(fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
.formulario{
    width: 400px;
    background: #5d73c1;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    border-radius: 4px;
    font-family: "calibri";
    color: rgb(18, 8, 8);
    font-weight:bolder;
    
}
h1 {
  text-align: center;
}

form {
  max-width: 350px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

.genero{
  width: 400px;
  padding: 0px;
  margin: auto;
  margin-top: 10px;
  border-radius: 4px;
  font-family: "Time news roman";
  color: rgb(0, 0, 0);
  font-weight:bolder;
  
}
.paises{
  
  padding: 0px;
  margin: auto;
  margin-top: 30px;

  
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],



textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #d08787;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #2c62d6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  
}

input[type="submit"]:hover {
  background-color: #48814a;


 
}
footer{
      
  color: rgb(0, 0, 0);
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}
.boton-registrar {
  display: block;
  margin: 0 auto;
}
